
.navbar-default{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
body {
    background-color: #efefef;
}
/*上方导航栏*/
#navigation_top{
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.test_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/* 文章上边距 */
.media:first-child {
    margin-top: 30px;
}

.profile .section {
    margin-top: 15px;
}

.media-body_xuan{
    margin: 15px 0px;
    padding-top: 10px;
}

/* 评论提交按钮 */
.btn-success {
    float: right;
    margin-bottom: 15px;
    margin-top: 10px;
}

/* 评论DIV class修饰 */
.comment_list_value {
    margin-left: 75px;
    color: #999999;
    margin-top: 25px;
}

/* 评论区名字修饰 */
.comment_name {
    color: #666;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    cursor: pointer;
    background: 0 0;
    box-sizing: border-box;
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
}

/* 评论内容下方点赞 评论按钮 */
.comment_like {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
/* 评论内容下方 点赞 、 评论 鼠标悬浮效果 */
.comment_like:hover {
    color: #499ef3;
}


